In [1]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x +1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [2]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [3]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x +1
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [4]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x = x +1
else:
    print('X IS NOT LESS THAN 5')

X IS NOT LESS THAN 5

In [5]:
x = [1,2,3]

for item in x:
    # comment

SyntaxError: unexpected EOF while parsing (<ipython-input-5-10ce81c40953>, line 5)

In [6]:
x = [1,2,3]

for item in x:
    # comment

SyntaxError: unexpected EOF while parsing (<ipython-input-6-2f2e37c9607a>, line 4)

In [7]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('End of the script')

End of the script

In [8]:
mystring = 'Sammy'

for letter in mystring:
    print(letter)

S
a
m
m
y

In [9]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [10]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [13]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [14]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [15]:
mylist = [1,2,3]

In [16]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [17]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [18]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [19]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [20]:
range(0,11,2)

range(0, 11, 2)

In [21]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [23]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))

At index 0 the letter is a
At index 0 the letter is b
At index 0 the letter is c
At index 0 the letter is d
At index 0 the letter is e

In [25]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [28]:
index_count = 0
word ='abcde'
for letter in word:
    
    print(word[index_count])
    index_count =+ 1

a
b
b
b
b

In [30]:
index_count = 0
word ='abcde'
for letter in word:
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [32]:
word ='abcde'
for letter in enumerate(word):
    
    print(item)

3
3
3
3
3

In [33]:
word ='abcde'
for item in enumerate(word):
    
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [34]:
word ='abcde'
for index,letter in enumerate(word):
    
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [35]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [36]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [38]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [39]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [40]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [41]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [42]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for a,b,c in zip(mylist1,mylist2,mylist3):
    print(b)

a
b
c

In [43]:
'x' in [1,2,3]

False

In [44]:
'x' in ['x','y','z']

True

In [45]:
2 in [1,2,3]

True

In [46]:
'a' in 'a world'

True

In [47]:
'mykey' in {'mykey':345}

True

In [48]:
d = {'mykey':345}

345 in d.values()

True

In [49]:
d = {'mykey':345}

345 in d.keys()

False

In [50]:
mylist = [10,20,30,40,100]

In [51]:
min(mylist)

10

In [52]:
max(mylist)

100

In [53]:
from random import shuffle

In [54]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [55]:
shuffle(mylist)

In [56]:
mylist

[3, 7, 1, 9, 4, 8, 2, 10, 5, 6]

In [57]:
from random import randint

In [58]:
randint(0,100)

35

In [59]:
randint(0,100)

34

In [60]:
mynum = randint(0,10)

In [61]:
mynum

2

In [62]:
input('CHOOSE YOUR FIGHTER')

CHOOSE YOUR FIGHTERScorpion

'Scorpion'

In [63]:
result = input('CHOOSE YOUR FIGHTER')

CHOOSE YOUR FIGHTERSub-Zero

In [64]:
result = input('CHOOSE YOUR FIGHTER ')

CHOOSE YOUR FIGHTER Kung Lao

In [65]:
result

'Kung Lao'

In [66]:
result = input('How many people are here? ')

How many people are here? 34

In [67]:
result

'34'

In [68]:
type(result)

str

In [69]:
float(result)

34.0

In [70]:
int(result)

34

In [71]:
result

'34'

In [72]:
result = int(input('Favorite Number: '))

Favorite Number: 86

In [73]:
type(result)

int

In [74]:
result

86

In [75]:
mystring = 'hello'

In [76]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [77]:
mylist

['h', 'e', 'l', 'l', 'o']

In [78]:
mylist = [letter for letter in mystring]

In [79]:
mylist

['h', 'e', 'l', 'l', 'o']

In [80]:
mylist = [x for x in 'word']

In [81]:
mylist

['w', 'o', 'r', 'd']

In [82]:
mylist = [qwe for qwe in 'wordtwo']

In [83]:
mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

In [84]:
mylist = [num for num in range(0,11) ]

In [85]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
mylist = [num**2 for num in range(0,11) ]

In [87]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
mylist = [x for x in range(0,11) if x%2==0]

In [89]:
mylist

[0, 2, 4, 6, 8, 10]

In [90]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [91]:
mylist

[0, 4, 16, 36, 64, 100]

In [93]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [95]:
celcius

[0, 10, 20, 34.5]

In [96]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [97]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(( (9/5)*temp +32))

In [98]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [99]:
results = [x if x%2==0 else 'ODD'for x in range(0,11)]

In [100]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [102]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [103]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [104]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [105]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [106]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [107]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [108]:
mylist = [1,2,3]

In [109]:
mylist.append(4)

In [110]:
mylist

[1, 2, 3, 4]

In [111]:
mylist.pop()

4

In [112]:
mylist

[1, 2, 3]

In [113]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.